@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --App-Color: #50d88f10;
  --Background-Color: #216d44;
  --Page-Color: #EFFFFB;
  --Font-Color: #272727;
  --Text-Color: #4F98CA;
}
body {
  background-color: var(--App-Color);
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  padding: 0.5rem;
  overflow-x: hidden;
}
#Income::-webkit-scrollbar {
  width: 0.5rem;
}
#Income::-webkit-scrollbar-thumb {
  background-color: #18415c;
}
#Income::-webkit-scrollbar-track {
  background-color: white;
}
#Expense::-webkit-scrollbar {
  width: 0.5rem;
}
#Expense::-webkit-scrollbar-thumb {
  background-color: #18415c;
};
#Expense::-webkit-scrollbar-track {
  background-color: white;
}
#Indicator {
  content: "";
  border-radius: 5px;
  height: 15px;
  width: 10px;
}
#SideBar, #App {
  min-height: 98vh;
}
#Installments {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
}
#Edit {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Edit:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Edit Transaction";
  font-family: 'Instrument Serif', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  left: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 1;
}
#Delete {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Delete:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Delete Transaction";
  font-family: 'Instrument Serif', serif;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  left: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 1;
}

@media (max-width: 640px) {
  body {
    padding: 0rem;
  }
}
